.hamburger {
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 2.5em;
    transform: rotate(-45deg);
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

.line-left {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

.line-right {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

.hamburger input:checked+svg {
    transform: rotate(0deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 12 63;
    stroke-dashoffset: 0;
}

.hamburger input:checked+svg .line-left {
    stroke-dasharray: 0 63;
    stroke-dashoffset: 0;
}

.hamburger input:checked+svg .line-right {
    stroke-dasharray: 0 63;
    stroke-dashoffset: 0;
}

.signout {
    transition: color 0.6s ease;
}

.signout:hover {
    color: rgb(228, 80, 80);
}

.user-profile {
    transition: color 0.6s ease;
}

.user-profile:hover {
    color: #47a8f8;
}

.bg-header {
    background-color: #12161e;
}
