<header class="fixed z-10">
    <app-header [showProfileButton]="false" [showSidebarToggle]="false"></app-header>
</header>

<div class="flex justify-center items-center h-full z-0 flex-col gap-6 pt-20 pb-10">
    <svg  xmlns="http://www.w3.org/2000/svg"  width="50"  height="50"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /></svg>
    <h1 class="text-2xl font-semibold">Datos Personales</h1>
    <p class="font-bold">Nombre: <span class="font-normal">{{teacher.teacher_fullname}}</span></p>
    <p class="font-bold">Tipo de Documento: <span class="font-normal">{{teacher.teacher_dnitype}}</span></p>
    <p class="font-bold">Número de Documento: <span class="font-normal">{{teacher.teacher_dni}}</span></p>
    <p class="font-bold">Tipo de Docente: <span class="font-normal">{{teacher.teacher_type}}</span></p>
    <p class="font-bold">Tipo de Contrato: <span class="font-normal">{{teacher.teacher_contracttype}}</span></p>
    <p class="font-bold">Area: <span class="font-normal">{{teacher.teacher_area}}</span></p>
    <app-input-options ngDefaultControl [(ngModel)]="period.period_name" listId="PeriodsList" [options]="PeriodsList" [attributes]="['period_name']" placeholder="Periodo"></app-input-options>
    <app-button-search (click)="listSchedulesByPeriod()"></app-button-search>
    <app-table-schedule
        [headers]="['Hora', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado']"
        [table]="scheduleTable">
    </app-table-schedule>
</div>