.icon-tabler-arrow-narrow-left:hover {
    filter: drop-shadow(0px 0px 12px #fff);
    transition: 0.4s ease;
}

.warning_message {
    background-color: #fff;
    color: red;
    animation: slide-in 700ms forwards;
}

@keyframes slide-in {
    0% {
        transform: translateY(-90%);
    }
    100% {
        transform: translateY(50%);
    }
}

@keyframes slide-in-responsive {
    0% {
        transform: translateY(-90%);
    }
    100% {
        transform: translateY(200%);
    }

}

@media (max-width: 768px) {
    .warning_message {
        font-size: 0.8rem;
        animation: slide-in-responsive 700ms forwards;
    }
}