<app-control-side-bar></app-control-side-bar>

<div class="flex justify-center items-center h-screen z-0 flex-col gap-6 py-10">
    <app-table-crud 
        [headers]="['Código', 'Nombre', 'Ubicación', 'Tipo', 'Capacidad', 'Estado', 'Acciones']" 
        [attributes]="['AMBIENT_ID', 'AMBIENT_NAME', 'AMBIENT_LOCATION', 'AMBIENT_TYPE', 'AMBIENT_CAPACITY', 'AMBIENT_STATE']"
        [list]="listAmbients">
    </app-table-crud>
    <app-button routerLink="/programs/form">Crear Ambiente</app-button>
</div>