<app-control-side-bar></app-control-side-bar>

<div class="flex justify-center items-center h-full z-0 flex-col gap-6 py-10">
    <h1 class="text-2xl font-semibold">Horarios</h1>
    <app-input-options listId="periodsList" [options]="['Periodo 1', 'Periodo 2', 'Periodo 3']" placeholder="Periodos"></app-input-options>
    <app-input-options listId="teachersList" [options]="['Docente 1', 'Docente 2', 'Docente 3']" placeholder="Docente"></app-input-options>
    <app-button-search></app-button-search>
    <app-table-schedule
        [headers]="['Hora', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado']"
        [rows]="[
            ['7:00', 'Clase', '', '', '', '', ''],
            ['8:00', '', 'Clase', '', '', '', ''],
            ['9:00', '', '', 'Clase', '', '', ''],
            ['10:00', '', '', '', 'Clase', '', ''],
            ['11:00', '', '', '', '', 'Clase', ''],
            ['12:00', '', '', '', '', '', 'Clase'],
            ['13:00', 'Clase', '', '', '', '', ''],
            ['14:00', '', 'Clase', '', '', '', ''],
            ['15:00', '', '', 'Clase', '', '', ''],
            ['16:00', '', '', '', 'Clase', '', ''],
            ['17:00', '', '', '', '', 'Clase', ''],
            ['18:00', '', '', '', '', '', 'Clase'],
            ['19:00', 'Clase', '', '', '', '', ''],
            ['20:00', '', 'Clase', '', '', '', ''],
            ['21:00', '', '', 'Clase', '', '', '']
        ]">
    </app-table-schedule>
    <app-button routerLink="/schedules/form">Crear Horario</app-button>
</div>