<app-control-side-bar></app-control-side-bar>

<div class="flex justify-center items-center h-screen z-0 flex-col gap-6 py-10">
    <h1 class="text-2xl font-semibold">Docentes</h1>
    <app-table-crud 
        [headers]="['ID', 'Nombre', 'Apellido', 'Tipo de Documento', 'Documento', 'Tipo', 'Tipo de Contrato', 'Área', 'Estado', 'Acciones']"
        [attributes]="['teacher_id', 'teacher_name', 'teacher_lastname', 'teacher_dnitype', 'teacher_dni', 'teacher_type', 'teacher_contracttype', 'teacher_area', 'teacher_state']"
        [list]="listTeachers"
        [editRoute]="'/teachers/form/'"
        (parentFunction)="changeStateTeacher($event)">
    </app-table-crud>
    <app-button routerLink="/teachers/form">Crear Docente</app-button>
</div>