<app-control-side-bar></app-control-side-bar>

<div class="flex justify-center items-center h-screen z-0 flex-col gap-6">
    <div class="fixed rounded-full px-5 py-1 font-extrabold top-0 warning_message" *ngIf="warning">
        <p id="warning_message" *ngIf="warning">{{ warning }}</p>
    </div>
    <div class="fixed top-12 z-30 w-full">
        <app-success-message *ngIf="success" [message]="success"></app-success-message>
    </div>
    <div class="flex gap-4">
        <a routerLink="/ambients">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="36"  height="36"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l4 4" /><path d="M5 12l4 -4" /></svg>
        </a>
        <h1 class="text-2xl font-semibold">Formulario Ambientes</h1>
    </div>
    <app-input label="ID" ngDefaultControl [(ngModel)]="ambient.ambient_id" [value]="ambient" [atribute]="'ambient_id'" *ngIf="edit == false"></app-input>
    <app-input label="Nombre" ngDefaultControl [(ngModel)]="ambient.ambient_name" [value]="ambient" [atribute]="'ambient_name'"></app-input>
    <app-input label="Capacidad" ngDefaultControl [(ngModel)]="ambient.ambient_capacity" [value]="ambient" [atribute]="'ambient_capacity'"></app-input>
    <app-input label="Ubicación" ngDefaultControl [(ngModel)]="ambient.ambient_location" [value]="ambient" [atribute]="'ambient_location'"></app-input>
    <div class="flex justify-between items-center gap-4">
        <p class="text-md font-semibold">Tipo:</p>
        <app-input-radio label1="Presencial" label2="Virtual" [defaultSelection]="'Presencial'" [radioName]="'radio1'" [radioGroupId]="'1'" ngDefaultControl [(ngModel)]="ambient.ambient_type" (selectionChange)="onSelectionChangeType($event)"></app-input-radio>
    </div>
    <app-button-save (click)="edit ? updateAmbient(): saveNewAmbient()"></app-button-save>
</div>