.input {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 99%;
    background-color: #12161e;
    border-radius: 20px;
    transition: 1s;
    padding: 10px;
    overflow: hidden;
}

.value {
    font-size: 18px;
    font-weight: 500;
    background-color: transparent;
    border: none;
    padding: 10px;
    color: #e4e4e4;
    display: flex;
    position: relative;
    gap: 8px;
    cursor: pointer;
    border-radius: 10px;
    box-sizing: border-box;
}

.value:not(:active):hover,
.value:focus {
    display: flex;
    box-sizing: border-box;
    border: 2px solid #1a1f24;
    font-weight: 700;
    color: #fff;
}

.value:focus::before,
.value:active::before {
    opacity: 1;
}

.value svg {
    width: 24px;
}

.input:hover > :not(.value:hover):not(.no-blur) {
    opacity: 0.4;
}

.img-logo {
    transition: filter 0.6s ease;
}

.img-logo:hover {
    filter: drop-shadow(0px 0px 30px #ffffff87);     
}

@media (max-width: 768px) {
    .input {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}