<app-control-side-bar></app-control-side-bar>

<div class="flex justify-center items-center h-screen z-0 flex-col gap-6">
    <a routerLink="/periods">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="36"  height="36"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l4 4" /><path d="M5 12l4 -4" /></svg>
    </a>
    <h1 class="text-2xl font-semibold">Formulario Periodos</h1>
    <app-input label="Nombre" ngDefaultControl [(ngModel)]="period.period_name" [value]="period" [atribute]="'PERIOD_NAME'"></app-input>
    <app-input label="Fecha Inicio" ngDefaultControl [(ngModel)]="period.period_start_date" [value]="period" [atribute]="'PERIOD_START_DATE'"></app-input>
    <app-input label="Fecha Fin" ngDefaultControl [(ngModel)]="period.period_end_date" [value]="period" [atribute]="'PERIOD_END_DATE'"></app-input>
    <app-button-save routerLink="/periods" (click)="edit ? updatePeriod() : saveNewPeriod()"></app-button-save>
</div>
