<app-control-side-bar></app-control-side-bar>

<div class="flex justify-center items-center h-screen z-0 flex-col gap-6">
    <h1 class="text-2xl font-semibold">Periodos</h1>
    <app-table-crud 
        [headers]="['Código', 'Fecha Inicio', 'Fecha Final', 'Nombre', 'Estado', 'Acciones']" 
        [attributes]="['period_id', 'period_start_date', 'period_end_date', 'period_name', 'period_state']"
        [list]="listPeriods" [editRoute]="'/periods/form/'"
        [editRoute]="'/periods/form/'"
        (parentFunction)="changeStatePeriod($event)">
    </app-table-crud>
    <app-button routerLink="/periods/form">Crear Periodo</app-button>

</div>