<div class="overflow-auto rounded-lg shadow">
    <table class="w-full">
        <thead class="bg-gray-50 border-b-2 border-gray-200">
            <tr class="text-slate-900">
                <th class="px-4 py-0.5 md:py-2 text-md font-bold tracking-wide text-center" *ngFor="let title of headers">{{ title }}</th>
            </tr>
        </thead>
        <tbody>
            <tr [ngClass]="{'bg-color-odd': i % 2 === 0, 'bg-color-even': i % 2 === 1}" *ngFor="let row of table; let i = index">
                <ng-container *ngFor="let cell of row; let j = index" >
                    <td class="text-center p-5" [ngClass]="{'font-semibold': j === 0}" *ngIf="shouldDisplayCell(i,j,cell)" [attr.rowspan]="getRowSpan(cell)" [ngStyle]="{'backgroundColor': cell!=undefined && j>0 ? '#fff' : 'none', 'border-bottom': cell!=undefined && j>0 ? '1.5px solid #1a202c' : 'none', 'border-left': cell != undefined && j>0 ? '1.5px solid #1a202c' : 'none'}">
                        <div *ngIf="j==0">
                            {{ cell }}
                        </div>
                        <div class="text-lg font-semibold text-zinc-950" *ngIf="cell!=undefined && j>0">
                            {{ cell.competence_name }}
                        </div>
                    </td>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>