<app-control-side-bar></app-control-side-bar>

<div class="flex justify-center items-center h-screen z-0 flex-col gap-6">
    <a routerLink="/competences">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="36"  height="36"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2.5"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-narrow-left"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" /><path d="M5 12l4 4" /><path d="M5 12l4 -4" /></svg>
    </a>
    <h1 class="text-2xl font-semibold">Formulario Horarios</h1>
    <app-input label="Periodo"></app-input>
    <app-input label="Docente"></app-input>
    <app-input label="Franja horaria"></app-input>
    <app-input-options listId="competencesList" [options]="['Competencia 1', 'Competencia 2', 'Competencia 3']" placeholder="Competencia"></app-input-options>
    <app-input-options listId="ambientsList" [options]="['Ambiente 1', 'Ambiente 2', 'Ambiente 3']" placeholder="Ambiente"></app-input-options>
    <app-button-save routerLink="/competences"></app-button-save>
</div>