.login {
    background-color: #1f2634;
    color: #fff;
    transition: background-color 0.6s ease;
}

.login input {
    background-color: #10141c;
    color: #fff;
    transition: background-color 0.6s ease;
}

.login button {
    /* background-color: #fff; */
    background-color: #e8e8e8;
    color: #10141c;
    transition: background-color 0.6s ease;
    transition: color 0.6s ease;
}

.login button {
    transition: box-shadow 0.6s ease;
}

.login button:hover {
    box-shadow: 0px 0px 20px #ffffff6d;
}

.login .title_login {
    color: #e8e8e8;
    transition: color 0.6s ease;
}

.login p {
    color: #e8e8e8;
    transition: color 0.6s ease;
}

.login a {
    color: #fff;
    transition: color 0.6s ease;
}

#error_message {
    color: #f64c4c;
    font-weight: bold;
    transition: color 0.6s ease;
}