<div class="flex w-full items-center gap-2 md:gap-5 h-12 px-5 py-3 rounded-full signout_message">
    <div class="bg-red-800 text-white text-center rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-exclamation-mark">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 19v.01" />
            <path d="M12 15v-10" />
        </svg>
    </div>
    <h1 class="font-bold">{{title}}</h1>
    <button class="bg-slate-700 text-white text-center rounded-full hover:bg-red-800 p-1" (click)="confirmAction.emit()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-check">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5 12l5 5l10 -10" />
        </svg>
    </button>
    <button class="bg-slate-700 text-white rounded-full hover:bg-blue-700 p-1" (click)="cancelAction.emit()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-x">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M18 6l-12 12" />
            <path d="M6 6l12 12" />
        </svg>
    </button>
</div>