<app-control-side-bar></app-control-side-bar>

<div class="flex justify-center items-center h-full md:h-screen lg:h-screen z-0 flex-col gap-6 py-20 md:py-0">
    <div class="fixed top-0 left-0 z-30 w-full">
        <app-confirm-message 
            *ngIf="showInactivateMessage"
            [title]="message"
            (confirmAction)="confirmChangeStateTeacher()"
            (cancelAction)="cancelInactivate()">
        </app-confirm-message>
    </div>
    <div class="fixed top-12 z-30 w-full">
        <app-success-message *ngIf="success" [message]="success"></app-success-message>
    </div>
    <h1 class="text-2xl font-semibold">Docentes</h1>
    <app-table-crud 
        [headers]="['ID', 'Nombre', 'Apellido', 'T. D', 'Documento', 'Tipo', 'T. C', 'Área', 'Estado', 'Acciones']"
        [attributes]="['teacher_id', 'teacher_name', 'teacher_lastname', 'teacher_dnitype', 'teacher_dni', 'teacher_type', 'teacher_contracttype', 'teacher_area', 'teacher_state']"
        [list]="listTeachers"
        [editRoute]="'/teachers/form/'"
        (parentFunction)="prepareChangeStateTeacher($event)">
    </app-table-crud>
    <app-button routerLink="/teachers/form">Crear Docente</app-button>
</div>