td {
    padding: 5px;
    text-align: center;
    border-left: 1px solid #f2f2f2;
}

.td-actions {
    border-right: 1px solid #f2f2f2;
}

th, td  {
    padding-inline: 20px;
}

tr {
    border-bottom: 1px solid #f2f2f2;
}