<div class="footer_principal fixed bottom-0 flex justify-center items-center w-full rounded-2xl">
    <footer class="p-2">
        <section class="flex items-center flex-col">
            <ul class="flex flex-row gap-4 text-lg">
                <!-- <li><a href="">Inicio</a></li> -->
                <!-- <li><a href="">Horarios</a></li> -->
                <!-- <li><a href="">Contacto</a></li> -->
            </ul>
            <p class="text-sm font-semibold">© 2024 Todos los derechos reservados</p>
        </section>
    </footer>
</div>
